<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="FileKinhDoanh" value="D:\TRÂM\Thưởng NPP\Báo cáo kinh Doanh Hùng Cường Tháng 03.2021.xlsx" />
    <add key="FileThuong" value="D:\TRÂM\Thưởng NPP\Thang 03.xlsx" />
    <add key="TienDo1From" value="1" />
    <add key="TienDo1To" value="18" />
    <add key="TienDo2From" value="19" />
    <add key="TienDo2To" value="25" />
    <add key="SheetTienDo" value="3" />
    <add key="KD_ColMaKH" value="G" />
    <add key="KD_ColNganh" value="F" />
    <add key="KD_ColChiTieu" value="M" />
    <add key="KD_ColThucHien" value="N" />
    <add key="KD_ColTenNPP" value="H"/>
    <add key="KD_NgayStart" value="Q"/>
    <add key="NPP_ColMaKH" value="A"/>
    <add key="NPP_ColNganh" value="E"/>
    <add key="NPP_ColChiTieu" value="S"/>
    <add key="NPP_ColTienDo1" value="T"/>
    <add key="NPP_ColTienDo2" value="U"/>
    <add key="NPP_ColDanhSo" value="V"/>

    <add key="NPP_ColTienDo1_PhanTram" value="W"/>
    <add key="NPP_ColTienDo2_PhanTram" value="X"/>
    <add key="NPP_ColDanhSo_PhanTram" value="Y"/>

    <add key="NPP_ColThuongKhac" value="O"/>
    <add key="NPP_ColThuongTienDo1" value="P"/>
    <add key="NPP_ColThuongTienDo2" value="Q"/>
    <add key="NPP_ColThuongThang" value="R"/>

    <add key="NPP_ColCT_ChietKhau" value="H"/>
    <add key="NPP_ColCT_ThuongKhac" value="I"/>
    <add key="NPP_ColCT_ThuongTienDo" value="J"/>
    <add key="NPP_ColCT_ThuongThang" value="K"/>
    <add key="NPP_ColCT_ThuongQuy3" value="L"/>
    <add key="NPP_ColCT_ThuongQuy6" value="M"/>
    <add key="NPP_ColCT_ThuongNam" value="N"/>
    
    
  </appSettings>
</configuration>